@media (max-width:770px) {
   .main-box{
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    margin: 50px auto;
    padding: 20px;
   }
   .main-right, .main-left{
    width: 100%;
   }
   .footer-box{
    margin: 0 20px 10px 20px;
   }
}
@media (max-width:576px) {
    .header-nav-link, .text, .number, .email, .title{
        font-size: 30px;
    }
    .main-right{
        padding: 10px;
    }
    .header-nav-list{
        padding: 10px;
    }
}